/*-------------------------------------------------------------------------------------
                                    Color guide
---------------------------------------------------------------------------------------*/




/*-------------------------------------------------------------------------------------
                                    Global Styles
---------------------------------------------------------------------------------------*/
body {
   background:white;
   text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.top{
    background: red;
    min-height:160px; 
    flex: 6
}


.bottom {
    flex: 6;
    background: black;
    min-height: 170px;
    margin-bottom: 10px;
    color: white;
}

/*-------------------------------------------------------------------------------------
                                    Main Heading styles
---------------------------------------------------------------------------------------*/
.main-heading-wrapper {
    background: black;
    background-image: url("https://images.unsplash.com/photo-1507721999472-8ed4421c4af2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=672eb03fafd069bd5f8a81602b54a3d3/100x100");
    background-size:cover;
    max-height: 200px;
}


.main-heading {
    background: ;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

header{
    display:flex;
    justify-content:center;
}

.logo {
    border-radius: 50%;
    margin-top: 5%;
}