/*-------------------------------------------------------------------------------------
                                    Color guide
---------------------------------------------------------------------------------------*/




/*-------------------------------------------------------------------------------------
                                    Global Styles
---------------------------------------------------------------------------------------*/
body {
   
}




/*-------------------------------------------------------------------------------------
                                    Main Heading styles
---------------------------------------------------------------------------------------*/
.main-heading-wrapper {
    background: black;
}

.main-heading {
    background: ;
    color: white;
    text-align: center;
}

header{
    display:flex;
    justify-content:center;
}

.logo {
    border-radius: 50%;
    
}